$color_white: #ffffff;
$color_white_grey: #fffdf2;
$color_wheat: #f6f6f6;
$color_light_wheat: #f3f3f3;
$color_medium_wheat: #f1f1f1;
$color_whitish: #cbcbcb;
$color_whitish_regular: #ebebeb;
$color_black: #000000;
$color_blackish: rgba(0, 0, 0, 0.1);
$color_black_secondary: rgba(0, 0, 0, 0.25);
$color_light_black: #535353;
$color_black_medium: #111111;
$color_solid_silver: #c0c0c0;
$color_light_silver: #d2d2d3;
$color_silver: #d2d2d2;
$color_grey: #263238;
$color_main_grey: #343434;
$color_light_grey: #ccc;
$color_medium_grey: #9a9a9a;
$color_grey_light: #3e3e3e;
$color_yellow_light: #efe6cb;
$color_light_green: #f2fff4;
$color_medium_light_grey: #3d3d3d;
$color_grey_lighter: #575757;
$color_grey_lightest: #5f5f5f;
$color_fiord: #455a64;
$color_light_fiord: #828282;
$color_fiord_dark: #263238;
$color_blackish_grey: rgba(48, 48, 48, 0.7);
$color_yellowish_grey: rgba(230, 190, 62, 0.21);
$color_light_dark: rgba(58, 58, 58, 0.64);
$color_grey_primary: rgba(224, 224, 224, 0.26);
$color_darkest_wheat: #cccccc;
$color_darker_wheat: #c9c9c9;
$color_dark_wheat: #f5f5f5;
$color_light_white: #f2f2f2;
$color_lighter_white: #f8f8f8;
$color_lightest_white: #e0e0e0;
$color_alto: #dddddd;
$color_light_alto: #fcfcfc;
$color_dark_alto: #dbdbdb;
$color_darkest_alto: #efefef;
$color_solid_alto: #a5a5a5;
$color_light_alto: #bdbdbd;
$color_primary_alto: #dcdcdc;
$color_secondary_alto: rgb(222, 226, 230);
$color_white_smoke: rgb(241, 241, 241);
$color_whitish_grey: rgba(235, 235, 235, 0.75);
$color_woodsmoke: #1d1c22;
$color_light_woodsmoke: #1d1d1d;
$color_lightest_woodsmoke: #303030;
$color_dark_woodsmoke: #191919;
$color_darkest_woodsmoke: #18171c;
$color_blue: #0000ff;
$color_red: #ff0000;
$color_light_red: #f44336;
$color_yellow: #e1be57;
$color_light_yellow: #e6be3e;
$color_dark_yellow: #ffbe00;
$color_darkest_yellow: #e6be3e;
$color_solid_yellow: rgba(230, 190, 62, 0.64);
$color_gmail_primary: rgba(130, 130, 130, 0.2);
$color_gmail_secondary: rgba(130, 130, 130, 0.1);
$box_shadow_primary: 0px 10px 20px rgba(199, 199, 199, 0.3);
$box_shadow_secondary: 0px 15px 60px rgba(200, 200, 200, 0.25);
