@import "src/assets/scss/variables.scss";
@import "src/assets/scss/mixins/index.scss";

.menu-meal-type {
  @include MontserratFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: $color_black;
}
