@mixin RubikFont {
  font-family: "Rubik", Helvetica, Arial, sans-serif !important;
}

@mixin NunitoFont {
  font-family: "Nunito", Helvetica, Arial, sans-serif !important;
}

@mixin MontserratFont {
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
}
