@import "src/assets/scss/variables.scss";
@import "src/assets/scss/mixins/index.scss";

.comman_header {
  width: 100%;
  background-color: $color_darkest_woodsmoke;
  z-index: 100;

  .navbar {
    display: flex !important;
    justify-content: space-between;
    margin-right: 3vw;
    margin-left: 4vw;

    p {
      padding-left: 5px;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.1em;
      color: $color_solid_yellow;
    }

    .navbar-toggler {
      border: none;

      .navbar-toggler-icon {
        background-color: none;
      }
    }
  }

  .nav-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $color_white !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 17px !important;
  }
  .user_profile_img {
    max-width: 65px;
    max-height: 50px;
    border-radius: 100%;
  }

  .sign-up {
    background-color: $color_white;
    color: $color_yellow;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 11px 27px;
  }
}

.fixed_header {
  position: fixed;
  top: 0;
  @extend .comman_header;
}
.not_fixed_header {
  @extend .comman_header;
  .navbar {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}
