@import "src/assets/scss/variables.scss";
@import "src/assets/scss/mixins/index.scss";

.edit-profile {
  margin-top: 40px;

  .update-user-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding-left: 90px;

    .imgPreview {
      position: relative;
      text-align: center;
      margin: 5px 15px;
      height: 200px;
      width: 200px;
      border-radius: 25px;
      border: 2px solid $color_yellow;

      img {
        width: 100%;
        height: 100%;
      }

      .previewText {
        position: absolute;
        top: 50%;
        text-align: center;
        color: $color_light_fiord;
        font-size: 12px;
        padding-left: 4px;
      }
    }
  }

  .edit-user-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    input {
      font-family: "Poppins";
      width: 23.1vw;
      height: 4vw;
      outline: none;
    }

    textarea {
      width: 23vw;
      border-radius: 10px;
      font-family: "Poppins";
    }
  }
  .updateProfile {
    font-weight: bold;
    margin-top: 4% !important;
    color: $color_white;
    background: $color_light_yellow;
    width: 35vw;
    display: block;
    margin: auto;
    padding: 1.5%;
    border: none;
    border-radius: 10px;
  }
}
