@import "src/assets/scss/variables.scss";
@import "src/assets/scss/mixins/index.scss";

.chef_table {
  .checf_name {
    @include NunitoFont;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 50px;
  }

  .checf_message {
    color: $color_light_fiord;
    font-size: 15px;
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 560px) {
  .chef_table {
    display: none;
  }
}

@media only screen and (min-width: 561px) {
  .chef_mobile_table {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
 
  .chef_table {
    padding: 20px 0px;
  }
}
