@import "src/assets/scss/variables.scss";
@import "src/assets/scss/mixins/index.scss";

.Footers {
  @include NunitoFont;
  background-color: $color_black;
  color: $color_light_white;
  text-align: center;
  width: 100%;
  font-weight: 600;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 13px;
  margin-top: 20px;

  .copyright {
    padding-left: 2%;
    text-align: start;
  }

  .fa {
    padding: 3px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 5px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: $color_white;
    color: $color_black;
  }

  .fa-twitter {
    background: $color_white;
    color: $color_black;
  }

  .fa-instagram {
    background: $color_black;
    color: $color_white;
  }

  .row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
