@import "src/assets/scss/variables.scss";
@import "src/assets/scss/mixins/index.scss";

.menu_modal {
  box-shadow: $box_shadow_primary;

  .modal-dialog {
    .modal-content {
      border-radius: 13px;
      top: 70px;
      .modal-body {
        .menu_content {
          margin-left: 10px;
          margin-right: 60px;
          .modal-heading {
            @include NunitoFont;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            color: $color_black;
          }
          .modal-message {
            color: $color_grey_lightest;
            font-size: 14px;
          }
          .menu_img {
            height: 170px;
            flex-direction: row;
            .img1 {
              width: 253px;
            }
          }
        }
        .close_button {
          position: relative;
          top: 0px;
          button {
            width: 130px;
            height: 38px;
            color: $color_white;
            font-size: 12px;
            background: $color_yellow;
            box-shadow: 0px 10px 20px rgba(225, 190, 87, 0.2);
            border-radius: 50px;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
// .menu_modal{
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px !important;
  }
}
// }

@media only screen and (max-width: 528px) {
  .menu_modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .menu_content {
            .menu_img {
              height: 320px !important;
              flex-direction: column;
              .img1 {
                width: 253px;
                height: 160px;
              }
            }
          }
          .close_button {
            right: 70px;
          }
        }
      }
    }
  }
}
